.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculate {
    width: 40%;
    height: 40%;
    background-color: #2557a7;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculate input {
    outline: none;
    width: 60%;
    height: 2rem;
    margin-bottom: .5rem;
}

.btn-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
}
