@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-container {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 7px 5px -7px #111;
}

.left-part {
    width: 40%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-part {
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item span {
    color: #2d2d2d;
    font-size: 1rem;
    font-weight: 500;
}

.item:hover {
    border-bottom: 2px solid #242480;
}

.selected span {
    font-weight: bold;
    color: #293c83;
}

.logo {
    width: 6rem;
    height: 60%;
}

.search-container {
    width: 100%;
    height: 3rem;
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what {
    width: 20rem;
    height: inherit;
    border: 1px solid black;
    border-radius: .7rem;
    display: flex;
    align-items: center;
}

.what input, .where input {
    outline: none;
    border: 0;
    margin-left: .5rem;
    height: 2rem;
    width: 13rem;
}

.what label, .where label {
    font-size: 1rem;
    margin-left: .5rem;
    font-weight: bold;
}

.where {
    width: 20rem;
    height: inherit;
    border: 1px solid black;
    border-radius: .7rem;
    display: flex;
    align-items: center;
    margin-left: .7rem;
}

.find-btn {
    width: 7rem;
    height: inherit;
    background-color: #2557a7;
    border-radius: .7rem;
    margin-left: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.find-btn:hover {
    background-color: #293c83;
}

.find-btn span {
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
}

.where:hover, .what:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-color: #293c83;
}

.what img {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1rem;
}


.barre {
    height: 70%;
    border-right: 1px solid darkblue;
}
