@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 35%;
    height: 55%;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.logo img {
    width: 8rem;
    height: 3rem;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.inputs input {
    outline: none;
    width: 60%;
    height: 2rem;
    border-radius: .3rem;
    border: 1px solid #777373;
    padding-left: .5rem;
    margin-top: 1rem;
}

.inputs input:hover {
    border-color: #2557a7;
}

.inputs input::placeholder {
    font-size: .9rem;
}

.next {
    margin-top: 1rem;
    width: 63%;
    height: 2rem;
    border-radius: .3rem;
    background-color: #2557a7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next span {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}
