
.main {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 5rem;
    height: 5rem;
    background-color: #2557a7;
    border-radius: 1rem;
}
